<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<title>{{- if .Info.Name }}  {{ .Info.Name }} 's CV {{ end }}</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style.css" >
	<link rel="stylesheet" href="/icons.css" >
</head>
<body>

<div id="wrapper">
	<main>

		<header>
			<h1>{{.Info.Name}}</h1>
			<h2>{{.Info.Label}}</h2>
			{{ if .Info.Summary }} <p> {{ .Info.Summary }} </p> {{ end }}
		</header>

	{{/* Block: Works ----------------------------------- Start */}}
	{{ if .Works }}
	<section class="works">
		<h3>Experience</h3>
		{{ range .Works }}
			<article>
			<header>

				{{ if or .StartDate .EndDate }}
					<div class="date">
						{{ if and .StartDate .EndDate }}
							<span class="startDate">{{.StartDate}}</span>
							<span class="endDate">- {{.EndDate}}</span>

						{{ else if .StartDate }}
							<span class="startDate">{{.StartDate}}</span>
							<span class="endDate">- Present</span>

						{{ else if .EndDate }}
							<span class="endDate">{{.EndDate}}</span>
						{{ end }}
					</div>
				{{ end }}

			{{ if .Position -}}<h4 class="header"> {{ .Position }} </h4>{{- end }}
			{{ if or .Company .Website -}}
			<h4>
			{{ if and .Company .Website }}
			{{.Company}} <span>{{ .Website | unschema }}</span>
			{{ else if .Company }}
			{{.Company}}
			{{ else if .Website }}
			{{ .Website | unschema }}
			{{ end }}
			</h4>
			{{- end}}

			</header>





			{{ if .Summary -}}
				<div class="summary"> {{ .Summary }} </div>
			{{- end }}

			{{ with .Highlights -}}
				<ul class="highlights">
				{{ range . }} <li>{{ . }}</li> {{ end }}
				</ul>
			{{- end }}

			</article>
		{{ end }}
	</section>
	{{ end }}
	{{/* Block: Works ------------------------------------- End */}}


	{{/* Block: Education ------------------------------- Start */}}
	{{ if .Education }}
	<section class="education">
		<h3>Education</h3>
		{{ range .Education }}
		<article>
		<header>

		{{ if or .StartDate .EndDate }}
			<div class="date">
				{{ if and .StartDate .EndDate }}
					<span class="startDate">{{.StartDate}}</span>
					<span class="endDate">- {{.EndDate}}</span>

				{{ else if .StartDate }}
					<span class="startDate">{{.StartDate}}</span>
					<span class="endDate">- Present</span>

				{{ else if .EndDate }}
					<span class="endDate">{{.EndDate}}</span>
				{{ end }}
			</div>
		{{ end }}

		{{ if or .Institution .Area -}}
			<h4 class="header">
				{{ if .Institution }}  {{ .Institution }} {{ end }}
				{{ if .Area }}  <span> {{ .Area }} </span> {{ end }}
			</h4>
		{{- end }}

		{{ if .StudyType }}<h4> {{ .StudyType }} </h4> {{ end }}
		</header>

		{{ if .GPA }}
			<div class="gpa"> GPA: {{ .GPA }} </div>
		{{ end }}

		{{ with .Courses -}}
			<ul class="highlights сourses">
				{{ range . }} <li>{{ . }}</li> {{ end }}
			</ul>
		{{- end }}
		</article>
		{{ end }}
	</section>
	{{ end }}
	{{/* Block: Education ------------------------------- Start */}}


	{{/* Block: Awards ---------------------------------- Start */}}
	{{ if .Awards }}
	<section class="awards">
		<h3>Awards</h3>
		{{ range .Awards }}
		<article>
			<header>
			{{ if .Date    }} <div class="date">    {{ .Date }}     </div> {{ end }}
			{{ if .Title   }} <h4 class="header">   {{ .Title }}    </h4> {{ end }}
			{{ if .Awarder }} <div class="awarder"> {{ .Awarder }}  </div> {{ end }}
			</header>
			{{ if .Summary }} <div class="summary"> {{ .Summary }}  </div> {{ end }}
		</article>
		{{ end }}
	</section>
	{{ end }}
	{{/* Block: Awards ---------------------------------- Start */}}


{{/* Block: Certifications -------------------------- Start */}}
	{{ if .Certifications }}
		<section class="certifications">
		<h3>Certifications</h3>
		{{ range .Certifications }}
		<article>
			<header>
			{{ if or .Issue .Expiration -}}
				<div class="date">
					{{- if and .Issue .Expiration -}}
						<span class="startDate issueDate">{{.Issue}}</span>
						<span class="endDate expirationDate">- {{.Expiration}}</span>
					{{- else if .Issue -}}
						<span class="startDate issueDate">{{.Issue}}</span>
					{{- else if .Expiration -}}
						<span class="endDate expirationDat">{{.Expiration}}</span>
					{{- end -}}
				</div>
			{{- end }}
			{{ if .Title   -}} <h4 class="header"> {{- .Title -}} </h4> {{- end }}
			{{ if .Certifier -}} <h4> {{- .Certifier -}} {{- if .CertificateID -}}
				 <span>ID: {{ .CertificateID }} </span>
			{{- end }} </h4>{{- end }}
			{{if .CertificateURL -}} <h4><span>{{- .CertificateURL -}} </span></h4>{{- end }}
			</header>
		</article>
		{{ end }}
		</section>
	{{- end }}
	{{/* Block: Certifications ---------------------------- End */}}


  {{/* Block: Publications ---------------------------- Start */}}
	{{- if .Publications }}
		<section class="publications">
		<h3>Publications</h3>
		{{ range .Publications }}
			<article>
				<header>
					{{if .ReleaseDate }}<div class="date">{{.ReleaseDate}}</div>{{end}}
					{{if .Name}}<h4 class="header">{{.Name}}</h4>{{ end }}
					{{if .Website}}<h4> <a href="{{ .Website }}">{{ .Website | unschema }}</a> </h4>{{ end }}
				</header>
				{{ if .Summary -}} <div class="summary"> {{- .Summary  }} </div> {{ end }}
			</article>
		{{ end }}
		</section>
	{{ end }}
	{{/* Block: Publications ---------------------------- Start */}}

	{{/* Block: References ------------------------------ Start */}}
	{{ if .Volunteers }}
	<section class="volunteers">
		<h3>Volunteers</h3>
		{{ range .Volunteers }}
		<article>
			<header>
			{{ if or .StartDate .EndDate }}
				<div class="date clear">
					{{ if and .StartDate .EndDate }}
						<span class="startDate">{{.StartDate}}</span>
						<span class="endDate">- {{.EndDate}}</span>

					{{ else if .StartDate }}
						<span class="startDate">{{.StartDate}}</span>
						<span class="endDate">- Present</span>

					{{ else if .EndDate }}
						<span class="endDate">{{.EndDate}}</span>
					{{ end }}
				</div>
			{{ end }}

			{{- if or .Organization .Website -}}
			<h4 class="header">
			{{ if .Organization }} {{ .Organization }} {{ end }}
			{{ if .Website }} <span>{{ .Website }} </span> {{ end }}
			</h4>
			{{- end }}
			{{ if .Position -}}
			<h4> {{- .Position }} </h4>
			{{ end }}

			</header>
			{{ if .Summary -}} <div class="summary"> {{- .Summary  }} </div> {{ end }}
			{{ with .Highlights -}}
				<ul class="highlights">
				{{ range . }} <li>{{ . }}</li> {{ end }}
				</ul>
			{{- end }}
		</article>
		{{ end }}
	</section>
	{{ end }}
	{{/* Block: References ------------------------------ Start */}}

	{{/* Block: References ------------------------------ Start */}}
	{{ if .References }}
		<section class="references">
			<h3>References</h3>
			{{ range .References -}}
			<article>
				<blockquote class="reference">{{ .Reference }}</blockquote>
				<div class="by name"><strong>{{ .Name }}</strong></div>
			</article>
			{{- end }}
		</section>
	{{ end }}
	{{/* Block: References -------------------------------- End */}}


	</main>
	<aside>

		{{/* Block: Basic Contact Information ------------- Start */}}
		{{ if or .Info.Email .Info.Phone .Info.Website }}
		<section class="contact">
			<h3>Contact</h3>
			<ul class="no-blts">
			{{ if .Info.Phone -}}
			<li><i class="icon-old-mobile"></i>{{ .Info.Phone }}</li>
			{{- end }}
			{{ if .Info.Email -}}
			<li><a href="mailto:{{ .Info.Email }}"><i class="icon-email"></i>{{ .Info.Email}}</a></li>
			{{- end }}
			{{ if .Info.Website -}}
			<li><a href="{{ .Info.Website }}"><i class="icon-network"></i>{{ .Info.Website | unschema }}</a> </li>
			{{- end }}
			</ul>
		</section>
		{{ end }}
		{{/* Block: Basic Contact Information --------------- End */}}

	{{/* Block: Basic - Social Networks --------------- Start */}}
	{{ with .Info.Profiles }}
		<section class="social">
			<h3>Social Networks</h3>
			<ul class="no-blts">
			{{ range . }}
				<li>
				{{- if and .URL .UserName -}}
						<a href="{{.URL}}"><i class="icon-{{.Network | lower }}"></i> {{ .UserName }}</a>
				{{- else if .URL -}}
						<a href="{{.URL}}"><i class="icon-{{.Network | lower }}"></i> {{ .URL | unschema | nowww }}</a>
				{{- else -}}
						<i class="icon-{{.Network | lower }}"></i> {{ .UserName }}
				{{- end -}}
				</li>
			{{ end }}
			</ul>
		</section>
	{{ end }}
	{{/* Block: Basic - Social Networks ----------------  End */}}

	{{/* Block: Basic Locations ----------------------- Start */}}
	{{ with .Info.Location }}
		{{ if or .Address .City .Region .CountryCode .PostalCode}}
		<section class="location">
			<h3>Location</h3>
			<article>
				{{ if and .Address .City .Region .CountryCode .PostalCode}}
					{{ .Address }} <br/>
					{{ .City }}, {{ .Region }}, {{ .CountryCode }} <br/>
					{{ .PostalCode }}
				{{ else if and .Address .City .Region .CountryCode}}
					{{ .Address }} <br/>
					{{ .City }}, {{ .Region }}, {{ .CountryCode }}
				{{ else if or .City .Region .CountryCode}}

					{{ if .City }}{{ .City }} {{ if or .CountryCode .Region }},{{end}}   {{ end}}
					{{ if .Region }} {{ .Region }} {{ if .CountryCode }},{{end}} {{ end }}
					{{ if .CountryCode }}{{ .CountryCode }} <br/>  {{ end }}
				{{ else }}

					{{- if .Address }} {{ .Address }}, {{ end }}
					{{- if .Region }}{{ .Region }}, {{ end }}
					{{- if .CountryCode }}{{ .CountryCode }} <br/>  {{ end }}
					{{- if .City }}{{ .City }}, {{ end}}
					{{- if .PostalCode }}{{ .PostalCode }}  {{ end}}

				{{ end }}
			</article>
			</section>
		{{ end }}
	{{ end }}
	{{/* Block: Basic Locations ----------------------- End */}}


	{{/* Block: Skills -------------------------------- Start */}}
	{{ if .Skills }}
	<section class="skills">
		<h3>Skills</h3>
		{{ range .Skills -}}
		<article>
			<h4>{{ .Name }} {{- if .Level }}<span class="extra">{{ .Level }}</span>{{ end }}</h4>
			{{ if .Keywords -}} <p> {{- join .Keywords ", " -}}  </p> {{ end }}
		</article>
		{{ end }}
	</section>
	{{end -}}
	{{/* Block: Skills ---------------------------------- End */}}


	{{/* Block: Interests ----------------------------- Start */}}
	{{ if .Interests -}}
	<section class="interests">
		<h3>Interests</h3>
		{{ range .Interests -}}
		<article>
			<h4>{{ .Name }}</h4>
			{{ if .Keywords -}} <p> {{- join .Keywords ", " -}}  </p> {{ end }}
		</article>
		{{ end }}
	</section>
	{{end -}}
	{{/* Block: Interests ------------------------------- End */}}

	{{/* Block: Langauges ----------------------------- Start */}}
	{{- if .Languages -}}
	<section class="languages">
		<h3>Languages</h3>
		<ul>
		{{ range .Languages -}}
			<li>
			{{- .Language }}
			{{- if .Fluency -}}
				<span class="extra"> {{- .Fluency -}}</span>
			{{- end -}}
			</li>
		{{end}}
		</ul>
	</section>
	{{- end }}
	{{/* Block: Langauges -------------------------------- End */}}

	</aside>
</div>

</body>
</html>
